.banner-gobierno{background:url("http://www.opsu.gob.ve/includes/img/comun/gobierno.png") no-repeat;width:918px;height:46px;margin:0 auto}.sni{display:inline-block}.slider{height:180px;width:auto;}#banner-a .slide .box img{height:170px}
.grupo-images{
	margin-left: 5em;
}
.novedades > img{
	padding: 0 1em;
	padding-bottom: 10px; 
	cursor:pointer;
	float: right;
}

#banner-n > .slide > .box{
	color: #fff;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}

footer{
	color: #fff;
	background-color: #1f62f9;
	font-weight: bold;
	font-size: 12px;
	padding: 1em;
	border-radius: 10px 10px 0 0;
}

footer > p{
	margin: 0;
	padding: 0;
}