.banner-gobierno
	background url('http://www.opsu.gob.ve/includes/img/comun/gobierno.png') no-repeat
	width 918px
	height 46px
	margin 0 auto
	
.sni
	display inline-block
#banner-a
	height 180px
	width auto
	
	.slide
		.box
			img
				height 170px